# Add any directories, files, or patterns you don't want to be tracked by version control
./2_deliverable/.metadata/
2_deliverable/.metadata/
2_deliverable/.recommenders/
2_deliverable/2apl
*.pd.bk
*.log
2_deliverable/2apl/
2_deliverable/masd-analysis-2apl/
2_deliverable/slides/
1_deliverable/slides/presentation_1.pdf
2_deliverable/marketplace/.classpath
